#header {
  height: 13rem;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: $bg-dark-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  animation: topdown 1s 0.5s backwards;
  @include d(medium) {
    height: 8rem;
  }
  @include d(small) {
    height: 8rem;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    padding: 0 13.6rem;
    margin: 0 auto;
    @include d(medium) {
      width: 720px;
      padding: 0 2.4rem;
    }
    @include d(small) {
      width: 375px;
      padding: 0 2.4rem;
    }
    @include d(x-small) {
      width: 320px;
      padding: 0 1.8rem;
    }
    img {
      width: 12rem;
      @include d(medium) {
        width: 5.5rem;
      }
      @include d(small) {
        width: 5.5rem;
      }
    }
    nav {
      #btn-mobile {
        display: none;
        border: none;
        background-color: transparent;
        font-size: 3.2rem;
        color: $text-color;
        cursor: pointer;
        @include d(small) {
          display: block;
          #hamburguer {
            border-top: 0.2rem solid;
            width: 3.2rem;
            display: block;
            &::before,
            &::after {
              content: "";
              display: block;
              width: 3.2rem;
              height: 0.2rem;
              background-color: currentColor;
              margin-top: 0.8rem;
              transition: 0.3s;
              position: relative;
            }
          }
        }
      }
      #menu {
        display: flex;
        list-style: none;
        gap: 5.2rem;
        @include d(medium) {
          gap: 1.6rem;
        }
        @include d(small) {
          display: block;
          visibility: hidden;
          overflow-y: hidden;
          position: absolute;
          width: 100%;
          top: 8rem;
          right: 0;
          background-color: $bg-dark-color;
          transition: 0.6s;
          z-index: 1000;
          height: 0;
          a {
            padding: 1rem 0;
            margin: 0 2.4rem;
            border-bottom: 0.1rem solid $hr-color;
          }
        }
        a {
          display: block;
          text-decoration: none;
          @include font-size(18);
          &:hover,
          &:focus {
            color: $pink;
          }
          @include d(medium) {
            @include font-size(16);
          }
        }
      }
    }
    nav.toggle-menu #hamburguer {
      color: transparent;
      &::before {
        transform: rotate(135deg);
        color: $purple;
      }
      &::after {
        transform: rotate(-135deg);
        top: -1rem;
        color: $purple;
      }
    }
    nav.toggle-menu #menu {
      height: calc(41.4vh - 8rem);
      visibility: visible;
    }
  }
}
