#skills {
  text-align: center;
  padding-top: 14.1rem;
  @include d(medium) {
    padding-top: 7rem;
  }
  @include d(small) {
    padding-top: 4rem;
  }
  h3 {
    margin-bottom: 6.4rem;
    @include d(medium) {
      margin-bottom: 4rem;
    }
    @include d(small) {
      margin-bottom: 3.2rem;
    }
  }
  .techs {
    @include font-size(24);
    margin-bottom: 4rem;
    font-weight: 200;
    @include d(medium) {
      @include font-size(20);
    }
    @include d(small) {
      @include font-size(16);
      margin-bottom: 2.4rem;
    }
  }
  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 832px;
    gap: 3.2rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    @include d(medium) {
      max-width: 444px;
      gap: 1.7rem;
      img {
        height: 5.7rem;
      }
    }
    @include d(small) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      max-width: 327px;
      gap: 1.1rem;
      img {
        height: 4.4rem;
      }
    }
  }
  #soft-skills,
  #idiomas,
  #outras-habilidades {
    max-width: 1092px;
    border: 0.3rem solid $purple;
    border-radius: 1.6rem;
    padding: 3rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 6rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include d(medium) {
      max-width: 672px;
    }
    @include d(small) {
      max-width: 327px;
      padding: 2.4rem;
      margin-bottom: 2.9rem;
    }
    h3 {
      @include font-size(32);
      margin-bottom: 0.8rem;
      @include d(medium) {
        @include font-size(24);
      }
      @include d(small) {
        @include font-size(20);
      }
    }
    p {
      @include font-size(18);
      font-weight: 500;
      @include d(small) {
        @include font-size(14);
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: $purple;
      overflow-x: auto;
      thead {
        text-align: center;
        @include font-size(24);
        line-height: 4.44rem;
        @include d(small) {
          @include font-size(12);
        }
      }
      th {
        background-color: $purple;
        vertical-align: middle;
      }
      tr {
        height: 4rem;
        &:nth-child(odd) {
          background-color: $bg-table-gray;
        }
      }
      td:nth-child(1) {
        padding: 0 1.6rem;
        @include font-size(24);
        line-height: 4.44rem;
        vertical-align: middle;
        @include d(small) {
          @include font-size(12);
          padding: 0;
        }
      }
      td:nth-child(2),
      td:nth-child(3) {
        text-align: center;
        @include font-size(18);
        vertical-align: middle;
        @include d(small) {
          @include font-size(12);
        }
      }
    }
    ul {
      li {
        @include font-size(18);
        font-weight: 500;
        list-style: disc;
        margin-left: 3rem;
        span {
          font-weight: 200;
        }
        @include d(small) {
          @include font-size(14);
          margin-left: 2.4rem;
        }
      }
    }
    &:hover {
      background-color: $bg-cards;
      border: 0.3rem solid $bg-cards;
      h3 {
        color: $purple;
      }
    }
  }
}