.success-section {
  display: flex;
  padding: 3.2rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 51.8rem;
  margin: 0 auto;
  animation: fadein 1s 0.5s backwards;
}
.container-success {
  background-color: $text-color;
  color: $purple;
  text-align: center;
  border-radius: 0.8rem;
}

.success,
.send-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem;
}
.success {
  background-color: $purple;
  border-radius: 0.8rem 0.8rem 0 0;
  i {
    font-size: 12.5rem;
    color: $text-color;
    padding-bottom: 1.6rem;
    transform: none;
  }
  p {
    @include font-size(32);
  }
}
.send-email {
  p {
    @include font-size(24);
    margin-bottom: 3.2rem;
    color: $purple;
  }
  a {
    text-decoration: none;
    @include font-size(24);
  }
}
.success-link {
  padding: 1.2rem 6.4rem;
  border: none;
  height: 5.3rem;
  display: flex;
  align-items: center;
}
